<!-- Prices Section -->
<section id="prices">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Cars</h3>
                    <p class="text-muted">
                        <div>
                        Full Interior..............       <s>$125</s> $100
                        </div>
                        <div>
                        Full Exterior..............       <s>$70</s> $50
                        </div>
                        <div>
                        Debadging..............       <s>$60</s> $40
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Trucks</h3>
                    <p class="text-muted">
                        <div>
                            Full Interior..............<s>$150</s> $125
                        </div>
                        <div>
                            Full Exterior..............<s>$85</s> $70
                        </div>
                        <div>
                            Engine Detail..............<s>$85</s> $70
                        </div>
                    </p>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>SUVs</h3>
                    <p class="text-muted">
                        <div>
                            Full Interior..............<s>$175</s> $150
                        </div>
                        <div>
                            Full Exterior..............<s>$100</s> $85
                        </div>
                        <div>
                            Wax & Clay..............<s>$150</s> $110
                        </div>
                    </p></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Other Services</h3>
                    <div>Wax 'N Clay</div>
                    <div>Green Packages</div>
                    <div>Ask about all our services!</div>
                </div>
            </div>
        </div>
    </div>
</section>
